# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
		此模組包有 4 個主要階段: 1) 早期遊戲探索,2) 大科技階段,3) 魔法模組,4) 後期 OP 的東西.
		使用尺或捲尺來測量兩個方塊之間的距離!
		一旦您擁有小麥、牛和養雞場，漢堡包就是一個非常好的早期遊戲食物來源!
		炸薯條是非常好的早期遊戲食物來源,只需要一個馬鈴薯農場!
		應用能源(Applied Energistics)分階段解鎖.
		村民交易被禁用，但可以在任何生物域中開採綠寶石礦.
		科學地質(Underground Biomes)的石頭變種可透過鑿子互相轉換.
		科學地質(Underground Biomes)的鵝卵石,沙和礫石變種可合成為原版的版本.
		在金屬衝壓機中製作的板,比合成的方式省下一半的材料.
		找鸚鵡? 您可以在許多平原,森林或沼澤生物域中找到它們!
		1.7.10的所有血魔法(Blood Magic)精隨強勢回歸!
		在多個地點建造你的沉浸工藝挖掘機,以便找到大量不同的礦物!
		原版的鋤頭的基礎耐久度非常低,使用匠魂鶴嘴鋤!
		與 Divine Journey 1 有很大不同,獨特的配方,獨特的進展,和更多的事情等你來完成!
		這是一個專家包,所以大多數配方都比較困難.
		最終目標是找到生命的意義...它會是什麼呢?!
		AE2自動化僅在大多數其他的科技模組之後可用,在任務的第13頁.
		用戶端需要至少 6 GB 的記憶體順利執行.但始終為你的作業系統預留 1-2 GB 的記憶體.
		按 'K' 打開你的任務!(譯註:可自訂按鍵)
		不知道現在該做什麼?查看你最近解鎖了什麼任務吧!
		自動化所有東西!
		從一開始就自動化所有東西,會讓所有新任務頁進行的更加順利!
		不知道如何自動化某些東西? 加入 Divine Journey 2 的 Discord 尋求幫助!(譯註:也歡迎加入RPMTW的Discord一起討論)
		極簡血量顯示(Neat)是Vazkii製作的一個模組.(譯註:Vazkii製作了很多模組,包含植物魔法,夸克,PSI,帕秋莉手冊等等)
		你有沒有從任務書中得到任何參考的資料呢? ;)
		遊戲後期沒有 Divine Journey 1 的那麼糟糕!
		困在混沌之地? 你可以在該維度中找到一些材料製作另一個門鑰匙.
		一些根源魔法(Roots)的法術可讓穿越前期遊戲維度更容易!
		小心,別讓沙漠次元(Atum)成為你的墳墓(a tomb)! (譯註:英文諧音梗)
		巫術模組(Bewitchment)是巫術模組(Witchery)的改版.
		在神聖RPG模組(DivineRPG)的維度中,有許多由社群增加的自訂地牢!
		在星系模組(Galacticraft)的維度中,有許多由社群增加的自訂地牢!
		自動化彩虹發電機是一個挑戰,但獎勵是大量的 RF/tick.
		極限反應堆(Extreme Reactors)產生的能量'遠'超過預設值.
		水力發電機削弱了,其他的 GP 發電機增強了.
		從血魔法(Blood Magic)開始,每樣東西都變超貴.我們期待你自動化所有東西!
		當心地獄的毒蘑菇!
		如果你從一個虛空維度掉落,你只會循環回到頂部.
		地獄有超多的螢光石.你會需要他的.
		你的基地很lag嗎? 確保以水平方式擴展基地而不是垂直!
		想知道你已經肝了多久嗎?打開庫存並點擊左上角的'排行榜'圖示!
		想要宣告區域?打開庫存並點擊左上角的地圖圖示!
		從遊戲首頁的連結加入 Divine Journey 2 的 Discord 吧!
		沉浸工藝的多方塊結構只在你點擊指定的方塊和面後才會成型. (閱讀任務了解更多資訊!)
		HIM在最新的一次更新中移除了.
		專家說自動化所有東西是畢業的最佳解...!
		只有基礎材料有EMC.你仍需要自動化其他的所有東西!
		深淵模組(AbyssalCraft)雕像產生的所有負面效果都被禁用了.太神啦!
		你可以從一個排液口中將岩漿輸入冶煉爐.
		貞子(Ringu)是最好的像素藝術家! (譯註:窩猜他是指貞子是從電視爬出來,所以本質上他是像素的,像素藝術家指運用MC的物件製作像素圖檔的人)
		用邪惡工藝(EvilCraft)的諾言升級血能注入器的容量!
		血魔法(Blood Magic)的藥水可使用8次而不是只有1次!
		進入混沌之地(Erebus)和恐懼之地(AbyssalCraft)前,確保帶上抗火效果!
		凋零骷髏不再掉落邪惡點滴,用合成的!
		小型修格斯和修格斯巢穴被禁用了.所有從它們身上獲得的東西請改用合成的!
		目前為止,詛咒之土是前期遊戲最棒的刷怪方法!
		聽說你喜歡複雜的配方,所以我把配方包在另一個配方中,所以你可以享受套娃配方了!
		小心南瓜和仙人掌!為什麼?窩不知道...!
		想加入你喜歡的模組嗎?如果你是單人遊戲,完全沒有問題!若該模組是用戶端用的,那麼你也可以在伺服器上使用!
		有什麼煩人且需要一直製作的東西嗎?最好把他自動化!
		匠魂的工具在前期是很棒的,但不是遊玩整包的時間都用!使用神聖RPG(DivineRPG),深淵模組(AbyssalCraft),終界接口(EnderIO),和後期的龍科技(Draconic Evolution)工具吧!
		阿卡什寶典是個將多個模組的書儲存在一個物品的方法.
		變形工具是個將多個模組的板手儲存在一個物品的方法.
		苦難之井是自動化獲得血魔法(Blood Magic) LP 的最佳解.
		自動化生產血魔法(Blood Magic)的惡魔意志,結合三種儀式:'沉重靈魂的懺悔','碎晶裂紋'和'和風之喚'.
		若一個合成需要較低階血魔法寶珠,使用更高階的也是可行的.
		感覺累了? 休息一下明天再來!
		在圖騰(Totemic)模組演奏不出足夠的音樂? 試著使用多個不同的樂器,多顆鼓和多個風鈴! 有朋友的話可以一起演奏音樂!
		這包有雕鑿工藝(Chisels & Bits),但如果你是單人遊玩的話,增加一些幫助你建築的模組也是沒有問題的!
		你可以在柴堆下方用發射器(內含打火石),點燃根源魔法(Roots)的柴堆.
		你可以把精靈工匠台自動化為符文工匠台.
		你會需要在這包裡製作共有6種等級的皮革.
		你會需要在這包裡製作20種等級的機械框架.確保把它們自動化就不用每次都從頭開始合成!
		這包有連鎖挖掘,所以一開始就使用吧!這讓挖礦更簡單.
		如果你用一堆通用機械(Mekanism)的通用纜線,你的基地可能會有點lag.試著尋找其他替代品!
		如果你用一堆應用能源(Applied Energistics)的合成卡,你的ME系統可能會非常lag.試著改成使用標準發信器或手動請求製作!
		這包有新的5種等級的AE2處理器.高等級製作更大容量的儲存元件.
		在沙漠次元(Atum)吃下一個附魔的金椰棗跟吃下附魔金蘋果獲得一樣的增強效果.
		把食物放在盤子上吃起來更好吃(...因為一些原因)!
		在收集龍之吐息遇到困難,是因為你只得到瓶裝終界空氣嗎? 試著蒐集時別對著終界石點擊! (你需要正確的調整你點擊的角度.)
		一定要保存一些 GP 粉以備複製,以防萬一你不小心用光了!
		許多終界接口(EnderIO)的機器可製作增強版的.
		幻靈接口是你的朋友!
		你可以在冶煉爐中融溶石頭或鵝卵石製作焦黑磚.
		第一次進入地獄需要讀取一點時間.耐心點!
		天境模組(Aether)中黃金地牢的王相當困難.你無法正常的直接傷害它,反而需要朝它反彈冰球!
		農業工藝(AgriCraft)讓你突變複製任何農作物.這相當的OP(特別是神祕農業的農作物),所以作物架在很後期才能製作!
		雪球和終界珍珠可以堆疊至64個.
		若你在主世界獲得礦物遇到困難,考慮在漆黑之門內造一個採石場!
		雖然你在造訪地獄後可以馬上造出天境傳送門,你需要天空之冠來解鎖該維度!
		在前1/4的進度中,你需要探索暮光森林(可選擇),沙漠次元,混沌之地,天境 和 冰晶雪原!
		打火石(Flint & Steel)需要燧石(Flint)和鋼(Steel)! 我知道,非常原始...
		柴油發電機非常吵,我已經警告過你了.
		所有AE2的壓印模板只能在沙漠次元(Atum)的地下隕石中找到!
		刷怪塔實用設備(Mob Grinding Utils)模組相當OP! 好好利用它!
		你無法在暮光森林之前解鎖飛行,但可以使用根源魔法(Roots)的澄空漫遊法術,匠魂的黏液靴和黏液彈弓.
		玄鋼裝甲是高度可升級的!用玄鋼砧啟用它們.
		某些根源魔法(Roots)的法術被認定太OP,所以必須在某些科技模組後解鎖.
		黏土是平衡的.(譯註:窩看不懂)
		深淵(AbyssalCraft),血魔法(Blood Magic),邪惡工藝(EvilCraft) 和 植物魔法(Botania) 是非常交織在一起的.
		無法啟動血魔法儀式嗎? 檢查一下 1) 是否使用正確的啟動水晶, 2) 是否有足夠的 LP, 3) 儀式石是否擺放正確, 4) 是否需要額外的物品.
		發現bug? 請至 https://github.com/Divine-Journey-2/main/issues 回報
		植物魔法(Botania)的符文在可製作後會大量使用到.把它自動化!
		血魔法(Blood Magic)的石板在可製作後會大量使用到.把它自動化!
		使用集成動力(Integrated Dynamics)的世界讀取器和流體抽取/排出口來自動化充能油是相當容易的.
		使用 成型面板/破壞面板 或 方塊破壞口/方塊放置口 來自動化活石,活木和活質是相當容易的.
		自動化意志不是一件簡單的過程! 慢慢來,多看幾次任務書.
		你可以使用束縛之鎬來破壞並收集伊桑斯石.
		這不是一個容易的模組包! 若你感到沮喪,慢慢來,慢慢來.建造你的自動化設施,看看別人是怎麼克服這些困難的.
		妳不需要殺死任何的王兩次以上! 但只要你想,你是可以的...
		第一次取得啟動的終界核心要在終界點擊終界水晶. 之後可以在任何維度將它自動化.
		魔法部分的前半部是混合了血魔法(Blood Magic),邪惡工藝(EvilCraft) 和 植物魔法(Botania).
		魔法部分的後半部是混合秘術時代(Thaumcraft),巫術(Bewitchment) 和 神聖RPG(DivineRPG),全都指向了星輝魔法(Astral Sorcery).
		多個心之容器不能直接裝備. 你需要在飾品欄中放上生命護符.
		無法解鎖秘術時代(Thaumcraft)的研究嗎? 檢查所有魔導手冊的所有標籤或在任務書中描述的特定操作!
		關閉秘術裂隙前洗個淨化浴! 否則它們會給你一大堆討厭的扭曲.
		大部分的世界鹽轉換配方都改變了. 查看你要得到的物品的物品提示吧!
		植物魔法(Botania)的石英種類是層層往上的,最高階層的是薰香石英.
		5x5, 7x7 and 9x9 的合成台透過魔法和後期模組緩慢的解鎖.
		不是所有的太陽能板都能馬上解鎖,所以記得回頭檢查第11章確認你是否解鎖了更多.
		神秘農業(Mystical Agriculture)在第6階段解鎖.隨時確認第16章是否解鎖了更多的種子.
		有些東西相當的挑戰. 妳可以到我們的 Discord: [https://discord.gg/rH9pyS7] 尋求幫助!
		星輝魔法(Astral Sorcery)的建築被禁用.相反的,星圖和聚能水晶是可以合成的.
		在整個星輝魔法(Astral Sorcery)中,你想知道你是否能夠摸到星星.然後你解鎖了星系模組(Galacticraft),美夢成真.
		你不需要玩過 Divine Journey 1 來搞懂這包.兩者的進展是完全獨立的.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=6EF863

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=10

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=50
}


